@font-face {
    font-family: "Josefin Sans";
    src: url('JosefinSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Josefin Sans";
    src: url('JosefinSans-Bold.ttf') format('truetype');
    font-weight: 700;
}